In [84]:
import pandas as pd
pd.set_option('display.width', 100)
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', 12)
from mlxtend.preprocessing import TransactionEncoder 
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import fpgrowth

# Read Data - Transaction Table

In [85]:
file = pd.read_excel(r"C:\Users\Lenovo\Dropbox\My PC (DESKTOP-BHVANOA)\Desktop\Market.xlsx")

lista = file.to_numpy().tolist()

listb = [[] * 0 for i in range(len(lista))]

for i in range(len(lista)):
    listb[i] = [item.split(',') for item in lista[i]]

dataset = []
for i in range(len(lista)):
    dataset.append(listb[i][0])


number_of_transactions = len(dataset)

pd.DataFrame(dataset)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,burgers,meatballs,eggs,None,None,None,None,None,None,None,None,None,None
1,chutney,None,None,None,None,None,None,None,None,None,None,None,None
2,turkey,avocado,None,None,None,None,None,None,None,None,None,None,None
3,mineral water,milk,energy bar,whole wheat rice,green tea,None,None,None,None,None,None,None,None
4,low fat yogurt,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,milk,None,None,None,None,None,None,None,None,None,None,None,None
195,french fries,None,None,None,None,None,None,None,None,None,None,None,None
196,chocolate,None,None,None,None,None,None,None,None,None,None,None,None
197,burgers,ham,red wine,None,None,None,None,None,None,None,None,None,None
198,shrimp,pasta,tomatoes,energy bar,french wine,antioxydant juice,french fries,frozen smoothie,brownies,None,None,None,None

In [86]:
te = TransactionEncoder()
te_array = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_array, columns=te.columns_)
df

,almonds,antioxydant juice,asparagus,avocado,bacon,barbecue sauce,black tea,blueberries,body spray,brownies,...,toothpaste,turkey,vegetables mix,water spray,white wine,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
195,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
196,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
198,False,True,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

# Find Frequent Itemsets

In [87]:
frequent_itemsets_fp = fpgrowth(df, min_support=0.03, use_colnames=True)	
frequent_itemsets_fp

     support                    itemsets
0   0.226131                      (eggs)
1   0.115578                   (burgers)
2   0.030151                 (meatballs)
3   0.085427                    (turkey)
4   0.055276                   (avocado)
..       ...                         ...
85  0.045226    (ground beef, spaghetti)
86  0.030151         (ground beef, milk)
87  0.040201  (mineral water, olive oil)
88  0.030151      (olive oil, spaghetti)
89  0.030151           (eggs, olive oil)

[90 rows x 2 columns]

# Association Rules

In [88]:
rules_fp = association_rules(frequent_itemsets_fp, metric="confidence", min_threshold=0.3)

del rules_fp["leverage"]
del rules_fp["conviction"]
rules_fp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
0,(eggs),(mineral water),0.226131,0.241206,0.085427,0.377778,1.566204
1,(mineral water),(eggs),0.241206,0.226131,0.085427,0.354167,1.566204
2,(burgers),(eggs),0.115578,0.226131,0.060302,0.521739,2.307246
3,(burgers),(mineral water),0.115578,0.241206,0.035176,0.304348,1.261775
4,(burgers),(milk),0.115578,0.145729,0.035176,0.304348,2.088456
...,...,...,...,...,...,...,...
80,(ground beef),(mineral water),0.105528,0.241206,0.060302,0.571429,2.369048
81,(ground beef),(spaghetti),0.105528,0.201005,0.045226,0.428571,2.132143
82,(olive oil),(mineral water),0.055276,0.241206,0.040201,0.727273,3.015152
83,(olive oil),(spaghetti),0.055276,0.201005,0.030151,0.545455,2.713636
84,(olive oil),(eggs),0.055276,0.226131,0.030151,0.545455,2.412121

# Convert DataFrame to List

In [89]:
list1 = rules_fp.values.tolist()
# print(list1)
number_of_rules = len(list1)

# Calculate P(A|B) & P(B|A)

P(B|A) = Support (AUB) / Support (A) = Confidence (A=>B) 

P(A|B) = Support (AUB) / Support (B)

In [90]:
table_2 = [[0] * (2) for i in range(number_of_rules)]

for i in range(number_of_rules):
    table_2[i][0] = round(list1[i][5], 3)                        #P(B|A)
    table_2[i][1] = round(list1[i][4] / list1[i][3], 3)        #P(A|B)

pd.DataFrame(table_2, columns=['P(B|A)', 'P(A|B)'])

    P(B|A)  P(A|B)
0    0.378   0.354
1    0.354   0.378
2    0.522   0.267
3    0.304   0.146
4    0.304   0.241
..     ...     ...
80   0.571   0.250
81   0.429   0.225
82   0.727   0.167
83   0.545   0.150
84   0.545   0.133

[85 rows x 2 columns]

# Evaluation Measures

All Confidence(A,B) = Min {P(A|B),P(B|A)}

MAX Confidence(A,B) = Max {P(A|B),P(B|A)}

Kulczynski(A,B) =  P(A|B)+P(B|A) / 2

Cosine(A,B) = sqrt(P(A|B)*P(B|A))

Imbalance Ratio(A,B) = |sup(A) - sup(B)| / sup(A) + sup(B) - sup(AUB)

In [91]:
table_4 = [[0] * (5) for i in range(number_of_rules)]

from math import sqrt

for i in range(number_of_rules):
    table_4[i][0] = round(min(table_2[i]), 3)                             #All Confidence
    table_4[i][1] = round(max(table_2[i]), 3)                             #MAX Confidence
    table_4[i][2] = round((table_2[i][0] + table_2[i][1]) / 2, 3)         #Kulczynski     
    table_4[i][3] = round(sqrt(table_2[i][0] * table_2[i][1]), 3)         #Cosine
    table_4[i][4] = round(abs(list1[i][2] - list1[i][3]) / (list1[i][2] + list1[i][3] - list1[i][4]), 3)   #IR

pd.DataFrame(table_4, columns=['All Confidence', 'MAX Confidence', 'Kulczynski', 'Cosine', 'Imbalance Ratio (IR)'])

    All Confidence  MAX Confidence  Kulczynski  Cosine  Imbalance Ratio (IR)
0            0.354           0.378       0.366   0.366                 0.039
1            0.354           0.378       0.366   0.366                 0.039
2            0.267           0.522       0.395   0.373                 0.393
3            0.146           0.304       0.225   0.211                 0.391
4            0.241           0.304       0.272   0.271                 0.133
..             ...             ...         ...     ...                   ...
80           0.250           0.571       0.410   0.378                 0.474
81           0.225           0.429       0.327   0.311                 0.365
82           0.167           0.727       0.447   0.348                 0.725
83           0.150           0.545       0.348   0.286                 0.644
84           0.133           0.545       0.339   0.269                 0.680

[85 rows x 5 columns]

# Chi-Square

In [92]:
def chi_square(supAUB,supA,supB,n):

    contingency_table = [[0] * (3) for i in range(3)]

    contingency_table[0][0] = round(supAUB * n)
    contingency_table[1][0] = round((supA - supAUB) * n)
    contingency_table[2][0] = round((supA * n))
    contingency_table[0][1] = round((supB - supAUB) * n)
    contingency_table[0][2] = round((supB * n))
    contingency_table[2][1] = round((1-supA) * n)
    contingency_table[1][2] = round((1-supB) * n)
    contingency_table[1][1] = round((1-supA-supB+supAUB) * n)
    contingency_table[2][2] = n

    X2 = 0

    expected_table = [[0] * (2) for i in range(2)]

    for i in range(2):
        for j in range(2):
            expected_table[i][j] = (contingency_table[-1][j] * contingency_table[i][-1]) / n
            X2 += (pow((expected_table[i][j] - contingency_table[i][j]), 2)) / expected_table[i][j]
    
    return round(X2)

table_3 = [[0] * (1) for i in range(number_of_rules)]

for i in range(number_of_rules):
    table_3[i][0] = chi_square(list1[i][4], list1[i][2], list1[i][3], number_of_transactions)   #Calculate Chi-Square
    list1[i].append(table_3[i][0])                                                      #Add Chi-Square Values

pd.DataFrame(list1, columns =['LHS', 'RHS','LHS support','RHS support','Support','Confidence','Lift','Chi-Square'])

,LHS,RHS,LHS support,RHS support,Support,Confidence,Lift,Chi-Square
0,(eggs),(mineral water),0.226131,0.241206,0.085427,0.377778,1.566204,6
1,(mineral water),(eggs),0.241206,0.226131,0.085427,0.354167,1.566204,6
2,(burgers),(eggs),0.115578,0.226131,0.060302,0.521739,2.307246,13
3,(burgers),(mineral water),0.115578,0.241206,0.035176,0.304348,1.261775,1
4,(burgers),(milk),0.115578,0.145729,0.035176,0.304348,2.088456,5
...,...,...,...,...,...,...,...,...
80,(ground beef),(mineral water),0.105528,0.241206,0.060302,0.571429,2.369048,14
81,(ground beef),(spaghetti),0.105528,0.201005,0.045226,0.428571,2.132143,8
82,(olive oil),(mineral water),0.055276,0.241206,0.040201,0.727273,3.015152,15
83,(olive oil),(spaghetti),0.055276,0.201005,0.030151,0.545455,2.713636,9
84,(olive oil),(eggs),0.055276,0.226131,0.030151,0.545455,2.412121,7

# Final Table

In [93]:
for i in range(number_of_rules):
    list1[i].append(table_4[i][0])
    list1[i].append(table_4[i][1])
    list1[i].append(table_4[i][2])
    list1[i].append(table_4[i][3])
    list1[i].append(table_4[i][4])

for i in range(number_of_rules):
    list1[i][2] = round(list1[i][2], 3)
    list1[i][3] = round(list1[i][3], 3)
    list1[i][4] = round(list1[i][4], 3)
    list1[i][5] = round(list1[i][5], 3)
    list1[i][6] = round(list1[i][6], 3)

final_table = pd.DataFrame(list1 , columns =['LHS', 'RHS','LHS support','RHS support',
'Support','Confidence','Lift','Chi-Square','All_Confidence',
'Max_Confidence','Kulczynski','Cosine','Imbalance Ratio (IR)']) 

final_table

,LHS,RHS,LHS support,RHS support,Support,Confidence,Lift,Chi-Square,All_Confidence,Max_Confidence,Kulczynski,Cosine,Imbalance Ratio (IR)
0,(eggs),(mineral water),0.226,0.241,0.085,0.378,1.566,6,0.354,0.378,0.366,0.366,0.039
1,(mineral water),(eggs),0.241,0.226,0.085,0.354,1.566,6,0.354,0.378,0.366,0.366,0.039
2,(burgers),(eggs),0.116,0.226,0.060,0.522,2.307,13,0.267,0.522,0.395,0.373,0.393
3,(burgers),(mineral water),0.116,0.241,0.035,0.304,1.262,1,0.146,0.304,0.225,0.211,0.391
4,(burgers),(milk),0.116,0.146,0.035,0.304,2.088,5,0.241,0.304,0.272,0.271,0.133
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,(ground beef),(mineral water),0.106,0.241,0.060,0.571,2.369,14,0.250,0.571,0.410,0.378,0.474
81,(ground beef),(spaghetti),0.106,0.201,0.045,0.429,2.132,8,0.225,0.429,0.327,0.311,0.365
82,(olive oil),(mineral water),0.055,0.241,0.040,0.727,3.015,15,0.167,0.727,0.447,0.348,0.725
83,(olive oil),(spaghetti),0.055,0.201,0.030,0.545,2.714,9,0.150,0.545,0.348,0.286,0.644
84,(olive oil),(eggs),0.055,0.226,0.030,0.545,2.412,7,0.133,0.545,0.339,0.269,0.680

In [94]:
# final_table [ 
#     (final_table['Kulczynski'] >= 0.5) &
#     (final_table['Imbalance Ratio (IR)'] > 0.5) &
#     (final_table['Chi-Square'] > 70)
#                ]